<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title>Destiny 2 Rotations</title>
<meta name="description" content="A weekly Destiny 2 rotation tracker for EP and AC"/>
<link rel="icon" href="favicon.ico">
<link rel="stylesheet" href="css/bootstrap.slate.css" />
<link href="font/css/font-awesome.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/jquery-1.8.2.min.js"></script>
<script src="js/home-ctrl.js"> </script>
</head>

<body>
	<div ng-app="homeApp" ng-controller="homeCtrl">
		<section class="col-md-12 col-sm-12">
			<h1 align="center">Destiny 2 Weekly Rotation</h1>
			<h2>Week of {{ctrl.weekOf | date: 'longDate'}}</h2>
			<h6 class="noselect" style="cursor:pointer;" ng-click="ctrl.previewNextWeek()" ng-show="!ctrl.previewing"> <a>preview next week</a></h6>
			<h6 class="noselect" style="cursor:pointer;" ng-click="ctrl.previewNextWeek()" ng-show="ctrl.previewing"> <a>back to current week</a> </h6>
		</section>
		<!-- Full Roll Column -->
		<div class="col-md-12 col-sm-12">
			<section id="section_JetsRolls" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="noselect" style="cursor:pointer;" ng-click="ctrl.collapseJetsRolls()">
						Jet's Curated Rolls
						<i ng-show="ctrl.showJetsRolls" class="fa fa-chevron-down pull-right"></i>
						<i ng-show="!ctrl.showJetsRolls" class="fa fa-chevron-up pull-right"></i>
					</h3>
				</div>
				<div ng-show="ctrl.showJetsRolls" class="panel-body">
					<div class="col-md-12 col-sm-12">
						<div class="col-md-4 col-sm-12">
							<input type="text" class="form-control" placeholder="Quick Search" 
								ng-model="ctrl.curationQuickSearch"/>
								<!-- ng-model="ctrl.curationQuickSearch" ng-change="ctrl.filterCuration()" /> -->
						</div>
					</div>
					
					<!-- OLD Desktop for curated rolls Grid -->
					<!-- <table class="table table-striped hidden-xs hidden-sm">
						<thead>
							<tr>
							  <th ng-repeat="c in ctrl.curation.columns">{{c}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="w in ctrl.curation.w | filterCurations: ctrl.curationQuickSearch | orderBy: 'Source'">
								<td><img ng-src="{{w.Image}}" style="height: 50px"></td>
								<td>{{w.Name}}</td>
								<td>{{w.Source}}</td>
								<td><span style="font-style:italic">{{w.Comment}}</span></td>
								<td><span style="font-weight: bold">{{w.Perk1_first}}</span>{{w.Perk1_rest}}</td>
								<td><span style="font-weight: bold">{{w.Perk2_first}}</span>{{w.Perk2_rest}}</td>
								<td><span style="font-weight: bold">{{w.Perk3_first}}</span>{{w.Perk3_rest}}</td>
								<td><span style="font-weight: bold">{{w.Perk4_first}}</span>{{w.Perk4_rest}}</td>
								<td><span style="font-weight: bold">{{w.Masterwork_first}}</span>{{w.Masterwork_rest}}</td>
							</tr>
						</tbody>
					</table> -->
					<div class="row" style="display: flex;flex-wrap: wrap;">
						<div class="well-container col-md-4 col-sm-6 col-xs-12" ng-repeat="w in ctrl.curation.w | filterCurations: ctrl.curationQuickSearch | orderBy: 'Source'">
							<div class="well" style="display: flex;flex-direction: column; margin: 10px 0px 10px 0px;">
								<div style="display: flex; flex-direction: row">
									<img ng-src="{{w.Image}}" style="height: 50px;margin-right: 19px;" />
									<div style="display: flex; flex-direction: column">
										<span><span style="font-size:14px;font-weight: bold">{{w.Name}}</span><span style="font-size:13px;"> ({{w.Source}})</span></span>
										<span style="font-size:12px;font-style: italic">{{w.Comment}}</span>
									</div>
								</div>								
								<table class="table table-striped" style="margin: 10px 0px 0px 0px">
									<tbody>
											<tr>
												<td style="font-size:14px"><span style="font-weight:bold">Perk 1</span></td>
												<td style="font-size:14px"><span style="font-weight:bold">{{w.Perk1_first}}</span>{{w.Perk1_rest}}</td>
											</tr>
											<tr>
												<td style="font-size:14px"><span style="font-weight:bold">Perk 2</span></td>
												<td style="font-size:14px"><span style="font-weight:bold">{{w.Perk2_first}}</span>{{w.Perk2_rest}}</td>
											</tr>
											<tr>
												<td style="font-size:14px"><span style="font-weight:bold">Perk 3</span></td>
												<td style="font-size:14px"><span style="font-weight:bold">{{w.Perk3_first}}</span>{{w.Perk3_rest}}</td>
											</tr>
											<tr>
												<td style="font-size:14px"><span style="font-weight:bold">Perk 4</span></td>
												<td style="font-size:14px"><span style="font-weight:bold">{{w.Perk4_first}}</span>{{w.Perk4_rest}}</td>
											</tr>
											<tr>
												<td style="font-size:14px"><span style="font-weight:bold">Masterwork</span></td>
												<td style="font-size:14px"><span style="font-weight:bold">{{w.Masterwork_first}}</span>{{w.Masterwork_rest}}</td>
											</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
					
					<span class="pull-right">***Results may vary***</span>
				</div>
			</section>
		</div>
		<!--Column 1-->
		<div class="col-md-6 col-sm-12">
			<!--Ascendant Challenge-->
			<section id="section_ascendantChallenge" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="noselect" style="cursor:pointer;" ng-click="ctrl.collapseAC()">
						Ascendant Challenge
						<i ng-show="ctrl.showAC" class="fa fa-chevron-down pull-right"></i>
						<i ng-show="!ctrl.showAC" class="fa fa-chevron-up pull-right"></i>
					</h3>
				</div>
				<div ng-show="ctrl.showAC" class="panel-body">
					<h4>{{ctrl.ascendantChallengeCurrent.location}}</h4>
					<img width="100%" ng-src="{{ctrl.ascendantChallengeCurrent.img}}"></img> <br /><br />
					<iframe id="ascendentChallengePlayer" width="100%" height="360" frameborder="0" allowfullscreen></iframe>
					<span class="pull-right" style="font-size:8pt">credit to <a href="https://www.youtube.com/channel/UCALMzqzajfpykplPBDqPMoA">Ninja Pups</a></span>
				</div>
			</section>
		</div>
		<!--Column 2-->
		<div class="col-md-6 col-sm-12">
			<!--Escalation Protocol-->
			<section id="section_escalationProtocol" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="noselect visible-md-*" style="cursor:pointer;" ng-click="ctrl.collapseEP()">
						Escalation Protocol
						<i ng-show="ctrl.showEP" class="fa fa-chevron-down pull-right"></i>
						<i ng-show="!ctrl.showEP" class="fa fa-chevron-up pull-right"></i>
					</h3>
				</div>
				<div ng-show="ctrl.showEP" class="panel-body">
					<h4>{{ctrl.epCurrentRotation.boss}}</h3>
					<h5>{{ctrl.epCurrentRotation.bossMechanic}}</h5>
					<img ng-src="{{ctrl.epCurrentRotation.weaponImg}}"></img>
					<h4>Drop: {{ctrl.epCurrentRotation.weapon}}</h3><br />
					<span class="pull-right" style="font-size:8pt">credit to <a href="https://www.reddit.com/r/DestinyTheGame/comments/992zbd/escalation_protocol_guide_all_the_info_in_one/">u/sstoneb</a></span>
				</div>
			</section>
			<!--Curse Week-->
			<section id="section_curseWeek" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="noselect" style="cursor:pointer;" ng-click="ctrl.collapseCurseWeek()">
						Curse Strength
						<i ng-show="ctrl.showCurseWeek" class="fa fa-chevron-down pull-right"></i>
						<i ng-show="!ctrl.showCurseWeek" class="fa fa-chevron-up pull-right"></i>
					</h3>
				</div>
				<div ng-show="ctrl.showCurseWeek" class="panel-body">
					<h4>The Curse is at <span ng-style="ctrl.curseStrengthStyle">{{ctrl.curseStrength}}</span> strength</h4>
					<h4>Ascendant Chests</h4>
					<iframe id="ascendentChestsPlayer" width="100%" height="360" frameborder="0" allowfullscreen></iframe>
					<span class="pull-right" style="font-size:8pt">credit to <a href="https://www.youtube.com/channel/UCkmAjbIecTIjTQctolYeuDw">Datto</a></span>
				</div>
			</section>
			<!--Whisper of the Worm-->
			<section id="section_curseWeek" class="panel panel-default">
				<div class="panel-heading">
					<h3 class="noselect" style="cursor:pointer;" ng-click="ctrl.collapseWhisper()">
						Whisper of the Worm <span ng-if="ctrl.whisperActive"> - ACTIVE</span>
						<i ng-show="ctrl.showWhisper" class="fa fa-chevron-down pull-right"></i>
						<i ng-show="!ctrl.showWhisper" class="fa fa-chevron-up pull-right"></i>
					</h3>
				</div>
				<div ng-show="ctrl.showWhisper" class="panel-body">
					<img width="60px" ng-src="images/elements/{{ctrl.whisperElement}}.png"></></img>
					<h4>Heroic Whisper of the Worm is <span ng-style="ctrl.whisperStyle">{{ctrl.whisperElement}}</span> singe</h4>
				</div>
			</section>
		</div>
	</div>
</body>

<style>
	html {
		overflow-y: scroll;
	}
	
	.col-sm-12 {
		padding-right: 5px;
		padding-left: 5px;
	}
	
	.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
	}
</style>